<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do's</title>
</head>
<body>
    <h1>To Do List</h1>
    <ul>
<% todos.forEach(todo => { %>

    <li><%= todo.desc %></li>

<% }) %>
</ul>
<a href="/todos/new">
    <h4>Add todo</h4>
</a>
</body>

</html>